/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: grey;
}
/*container*/
.container{
    height: calc(100vh - 60px);
    margin-top: 30px;
    margin-bottom: 30px;
}
.row{
    min-height: calc(100vh - 60px);
}
/*chat-list*/
#chat-list{
    background-color: #fff;
    padding: 0;
}
.chat-list-header{
    height: 80px;
    background-color: #EAEAEA;
}
.chat-list-info{
    height: 80px;
    background-color: #8EDAFC;
}

/*chat*/
#chat{
    background-color: black;
    padding: 0;
    display: flex;
    flex-direction: column;
    
} 

/*chat header*/
.chat-header{
    background-color: #EAEAEA;
    height: 80px;
}
/*chat main*/
main{
    flex-grow: 1;
    background-image: url(../img/mine.jpg);
}
/*chat footer*/
.message-bar{
    height: 80px;
    background-color: #F3EEEA;
}
